{% extends 'home/index.html.twig' %}

{% block title %}Hello RechercheController!{% endblock %}

{% block bodyhome %}
<br>
<br>
<br>
        <form class="form-inline" style="display:flex;justify-content:center;"  method="post" >
            <input class="form-control mr-sm-4" type="text" placeholder="Le nom du livre" name="name">
            <button class="btn btn-success" type="submit" value="submit" name="submit">Rechercher</button>
        </form>
<br>
<br>
{% if livres %}
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Maisonedition</th>
                <th>Auteur</th>
                <th>Statutlivre</th>
                <th>Disponibilite</th>
                <th>Datedentree</th>
                <th>Category</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td>{{ livre.id }}</td>
                <td>{{ livre.nom }}</td>
                <td>{{ livre.maisonedition }}</td>
                <td>{{ livre.auteur }}</td>
                <td>{{ livre.statutlivre }}</td>
                <td>{{ livre.disponibilite ? 'Yes' : 'No' }}</td>
                <td>{{ livre.datedentree ? livre.datedentree|date('Y-m-d') : '' }}</td>
                <td>{{ livre.category }}</td>
                <td>
                    <a href="{{ path('livre_show', {'id': livre.id}) }}">show</a>
                    <a href="{{ path('livre_edit', {'id': livre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endif %}

<br>


{% endblock %}
